
body{
    background-color: #f8f8f8;

}

.centrado{
  font-family: "Arial";
  text-align: center;
  margin-top: 100px;
}

.form-control {
  width: 200px;
  margin: auto;

}

.listaErrores{
  background-color: #eb663c;
  border: 5px solid #eb663c;
  border-radius: 10px
  ;
}
